# mac dot report

{% for item in csv_data %}
{% if loop.first or item.di_cat_1 != loop.previtem.di_cat_1 %}

### {{ item.di_cat_1_name }}
{% endif %}

{% if loop.first or item.di_cat_2 != loop.previtem.di_cat_2 %}
#### {{ item.di_cat_1 }}: {{ item.di_cat_2 }}
{% endif %}

- {% if item.item_type == 'folder' %}**{{ item.item_name }}{% if item.di_comment %} | {{ item.di_comment.strip() }}{% endif %} (ƒ)**{% else %}{{ item.item_name }}{% if item.di_comment %} | {{ item.di_comment.strip() }}{% endif %}{% endif %}
{% endfor %}

---  

### Unmatched Items

#### _Items not in dot_info (but in Home Folder)_
{% for item in fs_not_in_di %}
- {{ item.item_name }}{% if item.item_type == 'folder' %} (ƒ){% endif %}
{% endfor %}

#### _Items not in Home Folder (but in dot_info)_

{% for item in di_not_in_fs %}

- {{ item.item_name }}{% if item.di_comment %} | {{ item.di_comment.strip() }}{% endif %}{% if item.item_type == 'folder' %} (ƒ){% endif %}
{% endfor %}
