# mac dot report

{% for item in csv_data %}
{% if loop.first or item.cat_1_di != loop.previtem.cat_1_di %}

### {{ item.cat_1_name_di }}
{% endif %}

{% if loop.first or item.cat_2_di != loop.previtem.cat_2_di %}
#### {{ item.cat_1_di }}: {{ item.cat_2_di }}
{% endif %}

- {% if item.item_type_home == 'folder' %}**{{ item.item_name_home }}{% if item.comment_di %} | {{ item.comment_di.strip() }}{% endif %} (ƒ)**{% else %}{{ item.item_name_home }}{% if item.comment_di %} | {{ item.comment_di.strip() }}{% endif %}{% endif %}
{% endfor %}

---  

### Unmatched Items

#### _Items not in dot_info (but in Home Folder)_
{% for item in fs_not_in_di %}
- {{ item.item_name_home }}{% if item.item_type_home == 'folder' %} (ƒ){% endif %}
{% endfor %}

#### _Items not in Home Folder (but in dot_info)_

{% for item in di_not_in_fs %}

- {{ item.item_name_home }}{% if item.comment_di %} | {{ item.comment_di.strip() }}{% endif %}{% if item.item_type_home == 'folder' %} (ƒ){% endif %}
{% endfor %}